<svg class="social-icon" role="presentation">
	<title>CodePen</title>
	<polygon points="11.7,21.9 11.7,26.1 14.9,24"/>
	<polygon points="22.7,18.8 22.7,12.8 12.7,19.5 17.2,22.5"/>
	<polygon points="35.3,19.5 25.3,12.8 25.3,18.8 30.8,22.5"/>
	<polygon points="12.7,28.5 22.7,35.2 22.7,29.2 17.2,25.5"/>
	<polygon points="25.3,29.2 25.3,35.2 35.3,28.5 30.8,25.5"/>
	<polygon points="24,21 19.5,24 24,27 28.5,24"/>
	<path d="M24,0C10.7,0,0,10.7,0,24c0,13.3,10.7,24,24,24c13.3,0,24-10.7,24-24C48,10.7,37.3,0,24,0z M38.8,28.5c0,0.1,0,0.1,0,0.2
		c0,0,0,0,0,0.1c0,0,0,0.1,0,0.1c0,0,0,0,0,0.1c0,0,0,0.1,0,0.1c0,0,0,0,0,0.1c0,0,0,0.1,0,0.1c0,0,0,0,0,0.1c0,0,0,0.1-0.1,0.1
		c0,0,0,0,0,0.1c0,0,0,0-0.1,0.1c0,0,0,0-0.1,0.1c0,0,0,0-0.1,0.1c0,0,0,0-0.1,0c0,0,0,0,0,0l-13.6,9c-0.2,0.1-0.5,0.2-0.7,0.2
		c-0.2,0-0.5-0.1-0.7-0.2l-13.6-9c0,0,0,0,0,0c0,0,0,0-0.1,0c0,0,0,0-0.1-0.1c0,0,0,0-0.1-0.1c0,0,0,0-0.1-0.1c0,0,0,0,0-0.1
		c0,0,0-0.1-0.1-0.1c0,0,0,0,0-0.1c0,0,0-0.1,0-0.1c0,0,0,0,0-0.1c0,0,0-0.1,0-0.1c0,0,0,0,0-0.1c0,0,0-0.1,0-0.1c0,0,0,0,0-0.1
		c0-0.1,0-0.1,0-0.2v-9c0-0.1,0-0.1,0-0.2c0,0,0,0,0-0.1c0,0,0-0.1,0-0.1c0,0,0,0,0-0.1c0,0,0-0.1,0-0.1c0,0,0,0,0-0.1
		c0,0,0-0.1,0-0.1c0,0,0,0,0-0.1c0,0,0-0.1,0.1-0.1c0,0,0,0,0-0.1c0,0,0,0,0.1-0.1c0,0,0,0,0.1,0c0,0,0,0,0.1-0.1c0,0,0,0,0.1,0
		c0,0,0,0,0,0l13.6-9c0.4-0.3,1-0.3,1.4,0l13.6,9c0,0,0,0,0,0c0,0,0,0,0.1,0c0,0,0,0,0.1,0.1c0,0,0,0,0.1,0c0,0,0,0,0.1,0.1
		c0,0,0,0,0,0.1c0,0,0,0.1,0.1,0.1c0,0,0,0,0,0.1c0,0,0,0.1,0,0.1c0,0,0,0,0,0.1c0,0,0,0.1,0,0.1c0,0,0,0,0,0.1c0,0,0,0.1,0,0.1
		c0,0,0,0,0,0.1c0,0.1,0,0.1,0,0.2V28.5z"/>
	<polygon points="36.3,26.1 36.3,21.9 33.1,24"/>
</svg>
<span class="screen-reader">CodePen</span>
