/* Hero */
body.index {
	.page-title {
		h1 {
			span {
				display: block;
			}
		}
	}
}
#pattern {
	display: none;
}

/* Intro */
.intro {
	color: white;
	background-color: black;
}

/* Portfolio */
.portfolio-list {
	padding: $unit * .5;
	h2 {
		margin: 0;
		padding: $unit * .5;
	}
	h3, p {
		margin: 0;
	}
	ul {
		margin: 0;
		padding: 0;
		li {
			list-style: none;
		}
	}
	> ul {
		> li {
			padding: $unit * .5;
			> div {
				background-color: white;
				width: 100%;
			}
			a {
				display: block;
				border-bottom: none;
				&:after {
					content: '';
					display: block;
					width: 100%;
					border-bottom: solid medium black;
					position: absolute;
					bottom: 0;
					left: 0;
				}
				&:hover {
					&:after {
						border-bottom-width: thick;
					}
				}
				.portfolio-details {
					padding: ($unit * .25) 0 ($unit * .75) 0;
				}
				ul {
					font-size: $level-neg-1;
					line-height: $unit * .5;
					display: block;
					margin-top: $unit * .25;
					li {
						display: inline;
						white-space: nowrap;
						&:after {
							content: ', ';
							display: inline;
						}
						&:last-child {
							&:after {
								display: none;
							}
						}
					}
				}
			}
			img {
				height: auto;
				width: 100%;
			}
		}
	}
}
.additional-links {
	section {
		padding: $unit;
	}
	h3 {
		margin-bottom: 0;
	}
	p {
		margin-top: 0;
	}
	ul {
		margin: 0;
		padding: 0;
		li {
			list-style: none;
		}
	}
}

/* Contact */
.contact-info {
	font-size: $level-1;
	line-height: $unit * 1.5;
	color: white;
	background-color: black;
	a {
		border-bottom-color: white;
	}
	.button {
		color: white;
		background-color: black;
		border-color: white;
		&:hover {
			color: black;
			background-color: white;
			.icon {
				polygon, path {
					fill: black;
				}
			}
		}
	}
	.icon, .social-icon {
		polygon, path {
			fill: white;
		}
	}
	ul {
		margin: 0;
		padding: 0;
		li {
			list-style: none;
			margin: $unit 0;
		}
	}
	.social {
		li {
			display: inline;
			margin: 0 ($unit * .25) ($unit * .25) 0;
		}
		a {
			border-bottom: none;
		}
	}
}
.social-icon {
	height: 3rem;
	width: 3rem;
	margin-right: $unit * .25;
	path {
		fill: black;
	}
}

@media only screen and (min-width: $break-1) {

	/* Hero */
	body.index {
		.hero {
			height: 43.75vw;
			h1 {
				font-size: 4.5vw;
				line-height: 1.2em;
			}
			&:after {
				background-image: none;
				z-index: -2;
			}
		}
		.page-title {
			position: fixed;
			top: calc(15.5vw + 2.8315rem); // Hardcoded header height for now, because Sass processor isn't writing the variable properly inside calc()
			right: 0;
			bottom: auto;
			z-index: -1;
			h1 {
				white-space: nowrap;
				span {
					text-indent: 13vw;
				}
			}
		}
	}
	#pattern {
		display: block;
	}
	.tile {
		background-repeat: no-repeat;
		background-size: cover;
		height: 6.25vw;
		width: 6.25%;
		float: left;
		opacity: 0;
		transition: opacity .5s;
	}
	/* Make background of ranges of tiles white */
	.blank-tile, .tile:nth-child(n+38):nth-child(-n+48), .tile:nth-child(n+54):nth-child(-n+64), .tile:nth-child(n+70):nth-child(-n+80) {
		background-image: none !important;
	}
	.tile:nth-child(17) {
		clear: left; /* Start new row after 16 tiles */
	}
	.tile-visible {
		opacity: 1;
	}
	.tile-hidden {
		opacity: 0;
	}
	@for $i from 0 through 28 {
		.tile-#{$i} {
			background-image: url('/images/pattern/tile-#{$i}.svg');
		}
	}
	.tile-29 {
		background-image: none;
	}

	/* Portfolio */
	.portfolio-list {
		> ul {
			display: flex;
			flex-wrap: wrap;
			> li {
				display: flex;
				width: 50%;
				> div {
					display: flex;
				}
				a {
					flex: 1;
				}
			}
		}
	}
	.additional-links {
		display: flex;
		section {
			flex: 1;
			width: 50%;
		}
	}

	/* Contact */
	.contact-info {
		ul {
			display: inline-block;
			vertical-align: middle;
			padding-bottom: $unit * .5;
			li {
				margin: 0;
			}
		}
		.button {
			margin-bottom: 0;
			padding-top: $unit * .375;
			padding-bottom: $unit * .375;
			top: -.25rem
		}
	}

}

@media only screen and (min-width: $break-3) {

	/* Hero */
	body.index {
		.hero {
			h1 {
				padding-right: $unit * 2;
			}
		}
	}

	/* Intro */
	.intro {
		.content-block {
			padding-top: $unit * 2;
			padding-bottom: $unit * 2;
		}
		h2 {
			font-size: $level-2;
			line-height: $unit * 2;
		}
	}

	/* Portfolio */
	.code-sample-list {
		ul {
			li {
				width: 33.333333%;
			}
		}
	}

}
