---
title: "Portfolio - Beyond Indigo"
headline: "Beyond Indigo"
description: "Samples of art direction, identity design, web design & development, graphic design, and motion graphics for a digital marketing agency."
layout: "portfolio_layout"
section: "portfolio"
thumb: "beyond-indigo"
order: 1
agency: "In house"
roles:
  - "art direction"
  - "identity design"
  - "web design & development"
  - "graphic design"
  - "motion graphics"
  - "copywriting"
years: "2014–2016"
---

<div class="content-block">
	<h2>A new direction for an established digital agency</h2>
	<p>After more than a decade and a half serving the funeral, veterinary, and equine care sectors, <span class="name">Beyond Indigo</span> felt it was time for a complete recharge of their branding and visual communications. One of my primary tasks as Creative Director was to conceptualize and carry out this rebranding.</p>
	<p>Originally focusing on grief support and funeral services, the agency spun off subbrands as it developed specialities in veterinary and equine marketing. These subbrands were in need of refinement, without replacing the base components—such as the logo colors and “Ghosty” figure—that had gained equity with their clients over the years.</p>
	<p>The new identity, with the theme “seamless integration”, unified the subbrands and shifted emphasis to veterinary care as the agency’s primary niche.</p>
	<figure class="img-full">
		<div class="img-wrapper" style="padding-bottom: 100%;">
			<img data-original="/images/portfolio/beyond-indigo/logos.svg" alt="Beyond Indigo corporate and subbrand logos">
		</div>
		<figcaption>
			<p>Each subbrand was given its own identifying color and gradient. Each gradient is a transition from the primary brand blue to the subbrand color.</p>
		</figcaption>
	</figure>
	<figure class="img-full">
		<div class="img-wrapper" style="padding-bottom: 26.67%;">
			<img sizes="(min-width: 40.625rem) 37.25rem,
					(min-width: 50rem) 46.875rem,
					calc(100vw - 3.236rem)"
				data-original-set="/images/portfolio/beyond-indigo/logos-comparison-320.gif 320w,
					/images/portfolio/beyond-indigo/logos-comparison-640.gif 640w,
					/images/portfolio/beyond-indigo/logos-comparison-750.gif 750w,
					/images/portfolio/beyond-indigo/logos-comparison-1500.gif 1500w"
				data-original="/images/portfolio/beyond-indigo/logos-comparison-1500.gif"
				alt="Beyond Indigo logos before and after comparisons">
		</div>
		<figcaption>
			<p>Existing logos were cleaned up and stylistically unified, while preserving their fundamental DNA</p>
		</figcaption>
	</figure>
	<figure class="img-full">
		<div class="img-wrapper" style="padding-bottom: 44%;">
			<img data-original="/images/portfolio/beyond-indigo/logo-guides.svg" alt="Underlying structures of the Beyond Indigo and Beyond Indigo Pets logos">
		</div>
		<figcaption>
			<p>Underlying structures of the logo marks</p>
		</figcaption>
	</figure>
	<figure class="img-full">
		<div class="img-wrapper" style="padding-bottom: 40.7%;">
			<img data-original="/images/portfolio/beyond-indigo/marketing-ecosystem.svg" alt="Marketing Ecosystem illustration">
		</div>
		<figcaption>
			<p>The Marketing Ecosystem illustration symbolizes <span class="name">Beyond Indigo’s</span> primary practice areas</p>
		</figcaption>
	</figure>
	<figure class="img-full">
		<div class="img-wrapper" style="padding-bottom: 56.1%;">
			<img data-original="/images/portfolio/beyond-indigo/icons.svg" alt="Icons">
		</div>
		<figcaption>
			<p>Icons convey seamless integration with fluid, looping strokes</p>
		</figcaption>
	</figure>
</div>
<div class="content-block">
	<h2>An elevated web presence</h2>
	<p>One of the most prominent implementations of the new identity system was a completely new website. In an increasingly competitive market, the website differentiated itself with its elegant cleanliness and laser focus on services and educational blog articles.</p>
	<p>
		<% link_to 'http://mark-clifton.com/samples/beyond-indigo-pets/', :class => 'button' do %>
			<%= partial '/partials/icons/website' %>
			Home page preview
		<% end %>
		<% link_to 'https://github.com/mark-clifton/Portfolio-sample---Beyond-Indigo-Pets', :class => 'button' do %>
			<%= partial '/partials/icons/code' %>
			Code sample
		<% end %>
	</p>
</div>
<div class="bg-alt">
	<figure class="img-wide">
		<div class="img-wrapper" style="padding-bottom: 39%;">
			<img sizes="(min-width: 30rem) 100vw,
						calc(100vw - 3.236rem)"
					data-original-set="/images/portfolio/beyond-indigo/site-320.jpg 320w,
						/images/portfolio/beyond-indigo/site-640.jpg 640w,
						/images/portfolio/beyond-indigo/site-960.jpg 960w,
						/images/portfolio/beyond-indigo/site-1280.jpg 1280w,
						/images/portfolio/beyond-indigo/site-1920.jpg 1920w,
						/images/portfolio/beyond-indigo/site-2560.jpg 2560w,
						/images/portfolio/beyond-indigo/site-3840.jpg 3840w"
					data-original="/images/portfolio/beyond-indigo/site-2560.jpg"
					alt="Beyond Indigo Pets responsive home page">
		</div>
		<figcaption>
			<p><span class="name">Beyond Indigo Pets</span> responsive home page</p>
		</figcaption>
	</figure>
</div>
<div class="content-block">
	<figure class="img-full">
		<div class="img-wrapper" style="padding-bottom: 177.2%;">
			<img sizes="(min-width: 40.625rem) 37.25rem,
					(min-width: 50rem) 46.875rem,
					calc(100vw - 3.236rem)"
				data-original-set="/images/portfolio/beyond-indigo/site-full-320.jpg 320w,
					/images/portfolio/beyond-indigo/site-full-640.jpg 640w,
					/images/portfolio/beyond-indigo/site-full-750.jpg 750w,
					/images/portfolio/beyond-indigo/site-full-1500.jpg 1500w"
				data-original="/images/portfolio/beyond-indigo/site-full-1500.jpg"
				alt="Full Beyond Indigo Pets home page">
		</div>
		<figcaption>
			<p>Full <span class="name">Beyond Indigo Pets</span> home page at desktop width</p>
		</figcaption>
	</figure>
</div>
<div class="content-block">
	<h2>Flexibility across media</h2>
	<p>The identity system’s toolkit of simple parts allowed quick generation of new pieces across media, from sales brochures to motion graphics.</p>
</div>
<div class="bg-alt">
	<figure class="img-wide">
		<div class="img-wrapper" style="padding-bottom: 68.3%;">
			<img sizes="(min-width: 30rem) 100vw,
						calc(100vw - 3.236rem)"
					data-original-set="/images/portfolio/beyond-indigo/brochure-320.jpg 320w,
						/images/portfolio/beyond-indigo/brochure-640.jpg 640w,
						/images/portfolio/beyond-indigo/brochure-960.jpg 960w,
						/images/portfolio/beyond-indigo/brochure-1280.jpg 1280w,
						/images/portfolio/beyond-indigo/brochure-1920.jpg 1920w,
						/images/portfolio/beyond-indigo/brochure-2560.jpg 2560w,
						/images/portfolio/beyond-indigo/brochure-3840.jpg 3840w"
					data-original="/images/portfolio/beyond-indigo/brochure-2560.jpg"
					alt="Sales brochure">
		</div>
		<figcaption>
			<p>Spreads from a saddle-stitched sales brochure</p>
		</figcaption>
	</figure>
</div>
<figure class="img-wide">
	<div class="img-wrapper" style="padding-bottom: 26%;">
		<img sizes="(min-width: 30rem) 100vw,
					calc(100vw - 3.236rem)"
				data-original-set="/images/portfolio/beyond-indigo/booths-320.jpg 320w,
					/images/portfolio/beyond-indigo/booths-640.jpg 640w,
					/images/portfolio/beyond-indigo/booths-960.jpg 960w,
					/images/portfolio/beyond-indigo/booths-1280.jpg 1280w,
					/images/portfolio/beyond-indigo/booths-1920.jpg 1920w,
					/images/portfolio/beyond-indigo/booths-2560.jpg 2560w,
					/images/portfolio/beyond-indigo/booths-3840.jpg 3840w"
				data-original="/images/portfolio/beyond-indigo/booths-2560.jpg"
				alt="Trade show booths">
	</div>
	<figcaption>
		<p>10' popup booths that can be used individually, or combined into a single 20' booth</p>
	</figcaption>
</figure>
<div class="bg-alt">
	<figure class="img-wide">
		<div class="img-wrapper" style="padding-bottom: 50.2%;">
			<img sizes="(min-width: 30rem) 100vw,
						calc(100vw - 3.236rem)"
					data-original-set="/images/portfolio/beyond-indigo/door-hanger-t-shirt-320.jpg 320w,
						/images/portfolio/beyond-indigo/door-hanger-t-shirt-640.jpg 640w,
						/images/portfolio/beyond-indigo/door-hanger-t-shirt-960.jpg 960w,
						/images/portfolio/beyond-indigo/door-hanger-t-shirt-1280.jpg 1280w,
						/images/portfolio/beyond-indigo/door-hanger-t-shirt-1920.jpg 1920w,
						/images/portfolio/beyond-indigo/door-hanger-t-shirt-2560.jpg 2560w,
						/images/portfolio/beyond-indigo/door-hanger-t-shirt-3840.jpg 3840w"
					data-original="/images/portfolio/beyond-indigo/door-hanger-t-shirt-2560.jpg"
					alt="Door hanger and t-shirt">
		</div>
		<figcaption>
			<p>Trade show door hanger and giveaway t-shirt</p>
		</figcaption>
	</figure>
</div>
<div class="content-block">
	<figure class="img-full">
		<video poster="/images/portfolio/beyond-indigo/preroll-ad.jpg" preload="none" controls>
			<source src="/images/portfolio/beyond-indigo/preroll-ad.mp4" type="video/mp4">
		</video>
		<figcaption>
			<p>12-second video preroll ad, based on a template that can be populated with different statistics to generate new ads quickly</p>
		</figcaption>
	</figure>
</div>
