---
title: "Portfolio - Cardo Systems"
headline: "Cardo Systems"
description: "Samples of art direction and graphic design work for a mobile headset manufacturer."
layout: "portfolio_layout"
section: "portfolio"
thumb: "cardo"
order: 7
agency: "Schantz Inc."
roles:
  - "art direction"
  - "graphic design"
years: "2005–2006"
---

<div class="content-block">
	<h2>Communicating fast & clear</h2>
	<p>As a consumer manufacturer of wireless mobile headsets, <span class="name">Cardo Systems Inc.</span> had a lot of brand touchpoints to manage. Under contract by <span class="name">Schantz Inc.,</span> I worked with Cardo to produce an array of advertising, collateral, and display pieces for trade and consumer deployment. These ran the gamut from magazine ads, to trade-show booth panels, to consumer packaging and point-of-purchase displays. Logos, color palette, and original photography formed a consistent foundation, while secondary elements of the identity system, such as background textures, evolved to stay current over the duration of the contract.</p>
</div>
<div class="bg-alt">
	<figure class="img-wide">
		<div class="img-wrapper" style="padding-bottom: 56.8%;">
			<img sizes="(min-width: 30rem) 100vw,
						calc(100vw - 3.236rem)"
					data-original-set="/images/portfolio/cardo/sales-sheets-320.jpg 320w,
						/images/portfolio/cardo/sales-sheets-640.jpg 640w,
						/images/portfolio/cardo/sales-sheets-960.jpg 960w,
						/images/portfolio/cardo/sales-sheets-1280.jpg 1280w,
						/images/portfolio/cardo/sales-sheets-1920.jpg 1920w,
						/images/portfolio/cardo/sales-sheets-2560.jpg 2560w,
						/images/portfolio/cardo/sales-sheets-3840.jpg 3840w"
					data-original="/images/portfolio/cardo/sales-sheets-2560.jpg"
					alt="Sales sheets">
		</div>
		<figcaption>
			<p>Product sales sheets</p>
		</figcaption>
	</figure>
</div>
<figure class="img-wide">
	<div class="img-wrapper" style="padding-bottom: 42.6%;">
		<img sizes="(min-width: 30rem) 100vw,
					calc(100vw - 3.236rem)"
				data-original-set="/images/portfolio/cardo/booth-320.jpg 320w,
					/images/portfolio/cardo/booth-640.jpg 640w,
					/images/portfolio/cardo/booth-960.jpg 960w,
					/images/portfolio/cardo/booth-1280.jpg 1280w,
					/images/portfolio/cardo/booth-1920.jpg 1920w,
					/images/portfolio/cardo/booth-2560.jpg 2560w,
					/images/portfolio/cardo/booth-3840.jpg 3840w"
				data-original="/images/portfolio/cardo/booth-2560.jpg"
				alt="Trade show booth">
	</div>
	<figcaption>
		<p>10' popup booth</p>
	</figcaption>
</figure>
<div class="bg-alt">
	<figure class="img-wide">
		<div class="img-wrapper" style="padding-bottom: 72.2%;">
			<img sizes="(min-width: 30rem) 100vw,
						calc(100vw - 3.236rem)"
					data-original-set="/images/portfolio/cardo/booth-panels-320.jpg 320w,
						/images/portfolio/cardo/booth-panels-640.jpg 640w,
						/images/portfolio/cardo/booth-panels-960.jpg 960w,
						/images/portfolio/cardo/booth-panels-1280.jpg 1280w,
						/images/portfolio/cardo/booth-panels-1920.jpg 1920w,
						/images/portfolio/cardo/booth-panels-2560.jpg 2560w,
						/images/portfolio/cardo/booth-panels-3840.jpg 3840w"
					data-original="/images/portfolio/cardo/booth-panels-2560.jpg"
					alt="Booth panels">
		</div>
		<figcaption>
			<p>Trade show booth panels</p>
		</figcaption>
	</figure>
	<div class="content-block">
		<figure class="img-full">
			<div class="img-wrapper" style="padding-bottom: 96%;">
				<img sizes="(min-width: 40.625rem) 37.25rem,
						(min-width: 50rem) 46.875rem,
						calc(100vw - 3.236rem)"
					data-original-set="/images/portfolio/cardo/pos-displays-320.jpg 320w,
						/images/portfolio/cardo/pos-displays-640.jpg 640w,
						/images/portfolio/cardo/pos-displays-750.jpg 750w,
						/images/portfolio/cardo/pos-displays-1500.jpg 1500w"
					data-original="/images/portfolio/cardo/pos-displays-1500.jpg"
					alt="Table tent and display">
			</div>
			<figcaption>
				<p>Point-of-purchase table tent and display</p>
			</figcaption>
		</figure>
	</div>
</div>
