---
title: "Portfolio - Concierge Mobile Animal Hospital"
headline: "Concierge Mobile Animal Hospital"
description: "Samples of identity and web design work for a mobile veterinary hospital."
layout: "portfolio_layout"
section: "portfolio"
thumb: "concierge-mobile-animal-hospital"
order: 3
agency: "Beyond Indigo"
roles:
  - "identity design"
  - "web design & development"
years: "2016"
---

<div class="content-block">
	<h2>Balancing state-of-the-art luxury with a warm touch</h2>
	<p>As a startup practice serving highly-affluent <span class="name">South Bay, CA,</span> it was important for <span class="name">Concierge Mobile Animal Hospital</span> to emphasize the convenience, technological sophistication, and luxury experience of its services. However, these attributes had to be balanced with the warmth, friendliness, and accessibility expected of a provider of pet care in a laid-back beach community. While on staff at <span class="name">Beyond Indigo,</span> I provided a logo, website, and toolkit of basic identity components to get this mobile practice moving in the right direction.</p>
</div>
<figure class="img-wide">
	<div class="img-wrapper" style="padding-bottom: 59.4%;">
		<img sizes="(min-width: 30rem) 100vw,
					calc(100vw - 3.236rem)"
				data-original-set="/images/portfolio/concierge-mobile-animal-hospital/process-sketches-320.jpg 320w,
					/images/portfolio/concierge-mobile-animal-hospital/process-sketches-640.jpg 640w,
					/images/portfolio/concierge-mobile-animal-hospital/process-sketches-960.jpg 960w,
					/images/portfolio/concierge-mobile-animal-hospital/process-sketches-1280.jpg 1280w,
					/images/portfolio/concierge-mobile-animal-hospital/process-sketches-1920.jpg 1920w,
					/images/portfolio/concierge-mobile-animal-hospital/process-sketches-2560.jpg 2560w,
					/images/portfolio/concierge-mobile-animal-hospital/process-sketches-3840.jpg 3840w"
				data-original="/images/portfolio/concierge-mobile-animal-hospital/process-sketches-2560.jpg"
				alt="Process sketches">
	</div>
	<figcaption>
		<p>Process sketches and concept explorations</p>
	</figcaption>
</figure>
<div class="content-block">
	<h2>Branding that’s always in motion</h2>
	<p>With a fully-mobile practice, the truck is its own traveling billboard and storefront. It was important that the logo be simple and highly legible, at speed and at a distance. The logo boldly emphasizes “Mobile Animal Hospital” for a quick read that’s hard to miss, even at 40 mph. Peace signs and beachy colors lend a bit of local favor. Truck livery was designed by a local vendor using the base identity materials.</p>
	<figure class="img-full">
		<div class="img-wrapper" style="padding-bottom: 50%;">
			<img data-original="/images/portfolio/concierge-mobile-animal-hospital/logos.svg" alt="Logos">
		</div>
		<figcaption>
			<p>Primary logos, and a secondary pictogram element that spells out the practice name symbolically within road sign shapes</p>
		</figcaption>
	</figure>
</div>
<div class="content-block">
	<h2>A website light & clean as an ocean breeze</h2>
	<p>The website is built with a flexible grid system and large, touchscreen-friendly links to essential information. A video produced by a local videographer fills the hero area. The home page features a Google API map that uses ZIP code data, fed by a Fusion Table, to outline the hospital’s service area.</p>
	<p>
		<% link_to 'http://www.conciergemobileanimalhospital.com/', :class => 'button' do %>
			<%= partial '/partials/icons/website' %>
			Live website
		<% end %>
		<% link_to 'https://github.com/mark-clifton/Portfolio-sample---Concierge-Mobile-Animal-Hospital', :class => 'button' do %>
			<%= partial '/partials/icons/code' %>
			Code sample
		<% end %>
	</p>
</div>
<div class="bg-alt">
	<figure class="img-wide">
		<div class="img-wrapper" style="padding-bottom: 39%;">
			<img sizes="(min-width: 30rem) 100vw,
						calc(100vw - 3.236rem)"
					data-original-set="/images/portfolio/concierge-mobile-animal-hospital/site-320.jpg 320w,
						/images/portfolio/concierge-mobile-animal-hospital/site-640.jpg 640w,
						/images/portfolio/concierge-mobile-animal-hospital/site-960.jpg 960w,
						/images/portfolio/concierge-mobile-animal-hospital/site-1280.jpg 1280w,
						/images/portfolio/concierge-mobile-animal-hospital/site-1920.jpg 1920w,
						/images/portfolio/concierge-mobile-animal-hospital/site-2560.jpg 2560w,
						/images/portfolio/concierge-mobile-animal-hospital/site-3840.jpg 3840w"
					data-original="/images/portfolio/concierge-mobile-animal-hospital/site-2560.jpg"
					alt="Responsive home page">
		</div>
		<figcaption>
			<p>Responsive home page</p>
		</figcaption>
	</figure>
</div>
<div class="content-block">
	<figure class="img-full">
		<div class="img-wrapper" style="padding-bottom: 152.1%;">
			<img sizes="(min-width: 40.625rem) 37.25rem,
					(min-width: 50rem) 46.875rem,
					calc(100vw - 3.236rem)"
				data-original-set="/images/portfolio/concierge-mobile-animal-hospital/site-full-320.jpg 320w,
					/images/portfolio/concierge-mobile-animal-hospital/site-full-640.jpg 640w,
					/images/portfolio/concierge-mobile-animal-hospital/site-full-750.jpg 750w,
					/images/portfolio/concierge-mobile-animal-hospital/site-full-1500.jpg 1500w"
				data-original="/images/portfolio/concierge-mobile-animal-hospital/site-full-1500.jpg"
				alt="Full home page">
		</div>
		<figcaption>
			<p>Full home page at desktop width</p>
		</figcaption>
	</figure>
</div>
