---
title: "Portfolio - Credant Technologies"
headline: "Credant Technologies"
description: "Samples of art direction and graphic design work for a computer security vendor."
layout: "portfolio_layout"
section: "portfolio"
thumb: "credant"
order: 5
agency: "Schantz Inc."
roles:
  - "art direction"
  - "graphic design"
years: "2006–2008"
---

<div class="content-block">
	<h2>Building a citadel of trust</h2>
	<figure class="img-right img-small">
		<div class="img-wrapper" style="padding-bottom: 120%;">
			<img sizes="(min-width: 30rem) 33vw,
					(min-width: 40.625rem) 15.375rem,
					calc(100vw - 3.236rem)"
				data-original-set="/images/portfolio/credant/decal-200.jpg 200w,
					/images/portfolio/credant/decal-400.jpg 400w"
				data-original="/images/portfolio/credant/decal-400.jpg"
				alt="Decal">
		</div>
		<figcaption>
			<p>Device case decal</p>
		</figcaption>
	</figure>
	<p>As a computer security vendor protecting 2 million endpoints in private, academic, and government sectors, every manifestation of <span class="name">Credant Technologies’</span> branding had to convey a sense of solidity, safety, and trust. Starting with an established logo and color palette, I developed a kit of visual identity elements and implementations under contract by <span class="name">Schantz Inc.</span></p>
	<p>Bold containers with borders broken at 45° angles mirrored the interlocking angles of the “citadel” logo mark. Stock photos with cool colors and strong angles were selected to carry the theme through. In addition to the blue and warm gray from the logo, a dark magenta accent color was introduced to increase the profile of some pieces.</p>
	<p><span class="name">Credant Technologies</span> was acquired by Dell in 2012.</p>
</div>
<div class="bg-alt">
	<figure class="img-wide">
		<div class="img-wrapper" style="padding-bottom: 61.3%;">
			<img sizes="(min-width: 30rem) 100vw,
						calc(100vw - 3.236rem)"
					data-original-set="/images/portfolio/credant/2-page-ad-320.jpg 320w,
						/images/portfolio/credant/2-page-ad-640.jpg 640w,
						/images/portfolio/credant/2-page-ad-960.jpg 960w,
						/images/portfolio/credant/2-page-ad-1280.jpg 1280w,
						/images/portfolio/credant/2-page-ad-1920.jpg 1920w,
						/images/portfolio/credant/2-page-ad-2560.jpg 2560w,
						/images/portfolio/credant/2-page-ad-3840.jpg 3840w"
					data-original="/images/portfolio/credant/2-page-ad-2560.jpg"
					alt="Print ad">
		</div>
		<figcaption>
			<p>Two-page spread print ad</p>
		</figcaption>
	</figure>
</div>
<div class="content-block">
	<figure class="img-full">
		<div class="img-wrapper" style="padding-bottom: 30%;">
			<img sizes="(min-width: 40.625rem) 37.25rem,
					(min-width: 50rem) 46.875rem,
					calc(100vw - 3.236rem)"
				data-original-set="/images/portfolio/credant/icons-320.jpg 320w,
					/images/portfolio/credant/icons-640.jpg 640w,
					/images/portfolio/credant/icons-750.jpg 750w,
					/images/portfolio/credant/icons-1500.jpg 1500w"
				data-original="/images/portfolio/credant/icons-1500.jpg"
				alt="Icons">
		</div>
		<figcaption>
			<p>A versatile set of icons was created for use in marketing, flow charts, and technical documentation</p>
		</figcaption>
	</figure>
</div>
<div class="bg-alt">
	<figure class="img-wide">
		<div class="img-wrapper" style="padding-bottom: 54.5%;">
			<img sizes="(min-width: 30rem) 100vw,
						calc(100vw - 3.236rem)"
					data-original-set="/images/portfolio/credant/sales-sheets-320.jpg 320w,
						/images/portfolio/credant/sales-sheets-640.jpg 640w,
						/images/portfolio/credant/sales-sheets-960.jpg 960w,
						/images/portfolio/credant/sales-sheets-1280.jpg 1280w,
						/images/portfolio/credant/sales-sheets-1920.jpg 1920w,
						/images/portfolio/credant/sales-sheets-2560.jpg 2560w,
						/images/portfolio/credant/sales-sheets-3840.jpg 3840w"
					data-original="/images/portfolio/credant/sales-sheets-2560.jpg"
					alt="Sales sheets">
		</div>
		<figcaption>
			<p>Product sales sheets</p>
		</figcaption>
	</figure>
</div>
<figure class="img-wide">
	<div class="img-wrapper" style="padding-bottom: 58.4%;">
		<img sizes="(min-width: 30rem) 100vw,
					calc(100vw - 3.236rem)"
				data-original-set="/images/portfolio/credant/posters-320.jpg 320w,
					/images/portfolio/credant/posters-640.jpg 640w,
					/images/portfolio/credant/posters-960.jpg 960w,
					/images/portfolio/credant/posters-1280.jpg 1280w,
					/images/portfolio/credant/posters-1920.jpg 1920w,
					/images/portfolio/credant/posters-2560.jpg 2560w,
					/images/portfolio/credant/posters-3840.jpg 3840w"
				data-original="/images/portfolio/credant/posters-2560.jpg"
				alt="Posters">
	</div>
	<figcaption>
		<p>Hospitality suite posters tailored to the suite’s theme</p>
	</figcaption>
</figure>
<div class="bg-alt">
	<figure class="img-wide">
		<div class="img-wrapper" style="padding-bottom: 57.3%;">
			<img sizes="(min-width: 30rem) 100vw,
						calc(100vw - 3.236rem)"
					data-original-set="/images/portfolio/credant/booth-320.jpg 320w,
						/images/portfolio/credant/booth-640.jpg 640w,
						/images/portfolio/credant/booth-960.jpg 960w,
						/images/portfolio/credant/booth-1280.jpg 1280w,
						/images/portfolio/credant/booth-1920.jpg 1920w,
						/images/portfolio/credant/booth-2560.jpg 2560w,
						/images/portfolio/credant/booth-3840.jpg 3840w"
					data-original="/images/portfolio/credant/booth-2560.jpg"
					alt="Trade show booth">
		</div>
		<figcaption>
			<p>10' popup booth</p>
		</figcaption>
	</figure>
	<div class="content-block">
		<figure class="img-full">
			<div class="img-wrapper" style="padding-bottom: 85.6%;">
				<img sizes="(min-width: 40.625rem) 37.25rem,
						(min-width: 50rem) 46.875rem,
						calc(100vw - 3.236rem)"
					data-original-set="/images/portfolio/credant/folder-320.jpg 320w,
						/images/portfolio/credant/folder-640.jpg 640w,
						/images/portfolio/credant/folder-750.jpg 750w,
						/images/portfolio/credant/folder-1500.jpg 1500w"
					data-original="/images/portfolio/credant/folder-1500.jpg"
					alt="Pocket folder">
			</div>
			<figcaption>
				<p>Pocket folder</p>
			</figcaption>
		</figure>
	</div>
</div>
