---
title: "Portfolio - Emory Undergraduate Admission"
headline: "Emory Undergraduate Admission"
description: "Samples of identity and web design for the undergraduate admission website of a major university."
layout: "portfolio_layout"
section: "portfolio"
thumb: "emory-admission"
order: 1
agency: "in house"
roles:
  - "competitive analysis"
  - "information architecture"
  - "identity design"
  - "web design & development"
years: "2018–2019"
awards:
  - "AVA Digital Award Gold"
  - "dotCOMM Award Honorable Mention"
  - "Educational Advertising Award Gold"
  - "Horizon Interactive Award Gold"
  - "University & College Designers Association (UCDA) Design Competition Excellence"
  - "WebAward University Standard of Excellence"
---

<div class="content-block">
	<h2>A bold introduction</h2>
	<p>By the late 2010’s, Emory University’s Undergraduate Admissions website was in need of a refresh. Emory University Communications and Public Affairs (CPA), in partnership with the Office of Undergraduate Admission (OUA), performed a complete overhaul of the website. The process started with an extensive UX research and discovery phase, and ended with the launch of a strategically-aligned web presence with new content and subbranding. My contributions to the discovery process consisted of a detailed competitive analysis and stakeholder presentation.</p>
	<h2>Capturing the excitement of year one</h2>
	<p>A new visual identity system was conceived that could be applied in digital and print for a unified presence. I undertook visual design of the subbrand identity and website.</p>
</div>
<div class="bg-alt">
	<figure class="img-wide">
		<div class="img-wrapper" style="padding-bottom: 105.9%;">
			<img sizes="(min-width: 30rem) 100vw,
						calc(100vw - 3.236rem)"
					data-original-set="/images/portfolio/emory-admission/guidelines-320.jpg 320w,
						/images/portfolio/emory-admission/guidelines-640.jpg 640w,
						/images/portfolio/emory-admission/guidelines-960.jpg 960w,
						/images/portfolio/emory-admission/guidelines-1280.jpg 1280w,
						/images/portfolio/emory-admission/guidelines-1920.jpg 1920w,
						/images/portfolio/emory-admission/guidelines-2560.jpg 2560w,
						/images/portfolio/emory-admission/guidelines-3840.jpg 3840w"
					data-original="/images/portfolio/emory-admission/guidelines-2560.jpg"
					alt="Visual identity guidelines pages">
		</div>
		<figcaption>
			<p>Visual identity guidelines pages</p>
		</figcaption>
	</figure>
</div>
<div class="content-block">
	<p>Design elements defined specifically for the OUA subbrand included a set of frames constructed from polygons with 9 sides representing Emory’s 9 schools and colleges, a partially-constructed grid pattern, and vibrant color treatments for images. Colors from the university’s main brand palette were collected to form a subbrand palette focused on the exuberance of the student experience and the colors of iconic campus architecture.</p>
	<p>As a conceptual aid and implementation reference, I created a series of speculative visual compositions not tethered to any specific medium.</p>
</div>
<div class="bg-alt">
	<figure class="img-wide">
		<div class="img-wrapper" style="padding-bottom: 79.2%;">
			<img sizes="(min-width: 30rem) 100vw,
						calc(100vw - 3.236rem)"
					data-original-set="/images/portfolio/emory-admission/mockups-320.jpg 320w,
						/images/portfolio/emory-admission/mockups-640.jpg 640w,
						/images/portfolio/emory-admission/mockups-960.jpg 960w,
						/images/portfolio/emory-admission/mockups-1280.jpg 1280w,
						/images/portfolio/emory-admission/mockups-1920.jpg 1920w,
						/images/portfolio/emory-admission/mockups-2560.jpg 2560w,
						/images/portfolio/emory-admission/mockups-3840.jpg 3840w"
					data-original="/images/portfolio/emory-admission/mockups-2560.jpg"
					alt="Speculative design mockups">
		</div>
		<figcaption>
			<p>Speculative design mockups showing how identity elements can be used</p>
		</figcaption>
	</figure>
</div>
<div class="content-block">
	<h2>Versatile and built to scale</h2>
	<p>The website was built from a library of custom components integrated with the university’s standard Bootstrap template system. It was then implemented in Cascade CMS.</p>
	<p>
		<% link_to 'https://apply.emory.edu/', :class => 'button' do %>
			<%= partial '/partials/icons/website' %>
			Live website
		<% end %>
	</p>
</div>
<div class="bg-alt">
	<figure class="img-wide">
		<div class="img-wrapper" style="padding-bottom: 39%;">
			<img sizes="(min-width: 30rem) 100vw,
						calc(100vw - 3.236rem)"
					data-original-set="/images/portfolio/emory-admission/site-home-320.jpg 320w,
						/images/portfolio/emory-admission/site-home-640.jpg 640w,
						/images/portfolio/emory-admission/site-home-960.jpg 960w,
						/images/portfolio/emory-admission/site-home-1280.jpg 1280w,
						/images/portfolio/emory-admission/site-home-1920.jpg 1920w,
						/images/portfolio/emory-admission/site-home-2560.jpg 2560w,
						/images/portfolio/emory-admission/site-home-3840.jpg 3840w"
					data-original="/images/portfolio/emory-admission/site-home-2560.jpg"
					alt="Emory Office of Undergraduate Admission responsive home page">
		</div>
		<figcaption>
			<p><span class="name">Emory Office of Undergraduate Admission</span> responsive home page</p>
		</figcaption>
	</figure>
</div>
<div class="content-block">
	<figure class="img-full">
		<div class="img-wrapper" style="padding-bottom: 320.3%;">
			<img sizes="(min-width: 40.625rem) 37.25rem,
					(min-width: 50rem) 46.875rem,
					calc(100vw - 3.236rem)"
				data-original-set="/images/portfolio/emory-admission/site-home-full-320.jpg 320w,
					/images/portfolio/emory-admission/site-home-full-640.jpg 640w,
					/images/portfolio/emory-admission/site-home-full-750.jpg 750w,
					/images/portfolio/emory-admission/site-home-full-1500.jpg 1500w"
				data-original="/images/portfolio/emory-admission/site-home-full-1500.jpg"
				alt="Full Emory Office of Undergraduate Admission home page">
		</div>
		<figcaption>
			<p>Full <span class="name">Emory Office of Undergraduate Admission</span> home page at desktop width</p>
		</figcaption>
	</figure>
</div>
<div class="bg-alt">
	<figure class="img-wide">
		<div class="img-wrapper" style="padding-bottom: 39%;">
			<img sizes="(min-width: 30rem) 100vw,
						calc(100vw - 3.236rem)"
					data-original-set="/images/portfolio/emory-admission/site-aid-320.jpg 320w,
						/images/portfolio/emory-admission/site-aid-640.jpg 640w,
						/images/portfolio/emory-admission/site-aid-960.jpg 960w,
						/images/portfolio/emory-admission/site-aid-1280.jpg 1280w,
						/images/portfolio/emory-admission/site-aid-1920.jpg 1920w,
						/images/portfolio/emory-admission/site-aid-2560.jpg 2560w,
						/images/portfolio/emory-admission/site-aid-3840.jpg 3840w"
					data-original="/images/portfolio/emory-admission/site-aid-2560.jpg"
					alt="Emory Office of Undergraduate Admission responsive interior page">
		</div>
		<figcaption>
			<p><span class="name">Emory Office of Undergraduate Admission</span> responsive interior page</p>
		</figcaption>
	</figure>
</div>
<div class="content-block">
	<figure class="img-full">
		<div class="img-wrapper" style="padding-bottom: 358.6%;">
			<img sizes="(min-width: 40.625rem) 37.25rem,
					(min-width: 50rem) 46.875rem,
					calc(100vw - 3.236rem)"
				data-original-set="/images/portfolio/emory-admission/site-aid-full-320.jpg 320w,
					/images/portfolio/emory-admission/site-aid-full-640.jpg 640w,
					/images/portfolio/emory-admission/site-aid-full-750.jpg 750w,
					/images/portfolio/emory-admission/site-aid-full-1500.jpg 1500w"
				data-original="/images/portfolio/emory-admission/site-aid-full-1500.jpg"
				alt="Full Emory Office of Undergraduate Admission interior page">
		</div>
		<figcaption>
			<p>Full <span class="name">Emory Office of Undergraduate Admission</span> interior page at desktop width</p>
		</figcaption>
	</figure>
</div>
