---
title: "Portfolio - Emory Global"
headline: "Emory Global"
description: "Samples of identity and web design for the global initiatives website of a major university."
layout: "portfolio_layout"
section: "portfolio"
thumb: "emory-global"
order: 2
agency: "in house"
roles:
  - "identity design"
  - "web design & development"
years: "2018"
awards:
  - "AVA Digital Award Gold"
  - "Horizon Interactive Award Gold"
  - "Collegiate Advertising Award Bronze"
  - "Educational Advertising Award Merit"
---

<div class="content-block">
	<h2>Hello world</h2>
	<p>With a large population of international students and faculty, and research and scholarship efforts spanning the globe, Emory University’s impact reaches far and wide. The Emory Global website was commissioned by Emory’s Office of Global Strategy and Initiatives (OGSI) to be both a showcase of Emory’s presence in the world, and an introduction to international visitors seeking facts about Emory and its hometown of Atlanta.</p>
	<p>The website was developed from the ground up by Emory University Communications and Public Affairs (CPA) in collaboration with OGSI. My role was visual design of the website and subbrand elements (save for the Emory Global logo, contributed by CPA’s creative director).</p>
	<h2>Establishing a global language</h2>
	<p>Emory Global is a standalone subbrand of Emory University. It extends the building blocks of the university’s main visual identity to form a look all its own. The first step of the process was to create a set of design elements that subtly evoke “global” by taking inspiration from map coordinates and orbital paths. Light blue and yellow were chosen to be the primary subbrand colors, a fresh departure from the main brand’s darker, more formal blue and gold.</p>
	<figure class="img-full">
		<div class="img-wrapper" style="padding-bottom: 39%;">
			<img data-original="/images/portfolio/emory-global/elements.svg" alt="Design elements">
		</div>
		<figcaption>
			<p>Design elements</p>
		</figcaption>
	</figure>
	<p>In addition to the general-purpose design elements, a family of logos was created to brand Emory’s country initiatives. Vertical lines in the logos are skewed to 23.5º, the angle of Earth’s axis.</p>
	<figure class="img-full">
		<div class="img-wrapper" style="padding-bottom: 59.1%;">
			<img data-original="/images/portfolio/emory-global/logos.svg" alt="Emory country initiative logos">
		</div>
		<figcaption>
			<p>Logos for Emory’s country initiatives</p>
		</figcaption>
	</figure>
</div>
<div class="content-block">
	<h2>Bringing it all together</h2>
	<p>The subbrand elements were melded with the university’s standard web styles to create a library of custom Bootstrap components. These components were used to rapidly prototype and build website pages for implementation in Cascade CMS. The tone of the design is light and lively, showcasing video and photography by Emory's staff and scholars abroad.</p>
	<p>
		<% link_to 'https://global.emory.edu/', :class => 'button' do %>
			<%= partial '/partials/icons/website' %>
			Live website
		<% end %>
	</p>
</div>
<div class="bg-alt">
	<figure class="img-wide">
		<div class="img-wrapper" style="padding-bottom: 39%;">
			<img sizes="(min-width: 30rem) 100vw,
						calc(100vw - 3.236rem)"
					data-original-set="/images/portfolio/emory-global/site-home-320.jpg 320w,
						/images/portfolio/emory-global/site-home-640.jpg 640w,
						/images/portfolio/emory-global/site-home-960.jpg 960w,
						/images/portfolio/emory-global/site-home-1280.jpg 1280w,
						/images/portfolio/emory-global/site-home-1920.jpg 1920w,
						/images/portfolio/emory-global/site-home-2560.jpg 2560w,
						/images/portfolio/emory-global/site-home-3840.jpg 3840w"
					data-original="/images/portfolio/emory-global/site-home-2560.jpg"
					alt="Emory Global responsive home page">
		</div>
		<figcaption>
			<p><span class="name">Emory Global</span> responsive home page</p>
		</figcaption>
	</figure>
</div>
<div class="content-block">
	<figure class="img-full">
		<div class="img-wrapper" style="padding-bottom: 283.3%;">
			<img sizes="(min-width: 40.625rem) 37.25rem,
					(min-width: 50rem) 46.875rem,
					calc(100vw - 3.236rem)"
				data-original-set="/images/portfolio/emory-global/site-home-full-320.jpg 320w,
					/images/portfolio/emory-global/site-home-full-640.jpg 640w,
					/images/portfolio/emory-global/site-home-full-750.jpg 750w,
					/images/portfolio/emory-global/site-home-full-1500.jpg 1500w"
				data-original="/images/portfolio/emory-global/site-home-full-1500.jpg"
				alt="Full Emory Global home page">
		</div>
		<figcaption>
			<p>Full <span class="name">Emory Global</span> home page at desktop width</p>
		</figcaption>
	</figure>
</div>
<div class="bg-alt">
	<figure class="img-wide">
		<div class="img-wrapper" style="padding-bottom: 39%;">
			<img sizes="(min-width: 30rem) 100vw,
						calc(100vw - 3.236rem)"
					data-original-set="/images/portfolio/emory-global/site-world-320.jpg 320w,
						/images/portfolio/emory-global/site-world-640.jpg 640w,
						/images/portfolio/emory-global/site-world-960.jpg 960w,
						/images/portfolio/emory-global/site-world-1280.jpg 1280w,
						/images/portfolio/emory-global/site-world-1920.jpg 1920w,
						/images/portfolio/emory-global/site-world-2560.jpg 2560w,
						/images/portfolio/emory-global/site-world-3840.jpg 3840w"
					data-original="/images/portfolio/emory-global/site-world-2560.jpg"
					alt="Emory Global responsive interior page">
		</div>
		<figcaption>
			<p><span class="name">Emory Global</span> responsive interior page</p>
		</figcaption>
	</figure>
</div>
<div class="content-block">
	<figure class="img-full">
		<div class="img-wrapper" style="padding-bottom: 420.4%;">
			<img sizes="(min-width: 40.625rem) 37.25rem,
					(min-width: 50rem) 46.875rem,
					calc(100vw - 3.236rem)"
				data-original-set="/images/portfolio/emory-global/site-world-full-320.jpg 320w,
					/images/portfolio/emory-global/site-world-full-640.jpg 640w,
					/images/portfolio/emory-global/site-world-full-750.jpg 750w,
					/images/portfolio/emory-global/site-world-full-1500.jpg 1500w"
				data-original="/images/portfolio/emory-global/site-world-full-1500.jpg"
				alt="Full Emory Global interior page">
		</div>
		<figcaption>
			<p>Full <span class="name">Emory Global</span> interior page at desktop width</p>
		</figcaption>
	</figure>
</div>
