---
title: "Portfolio - Lettuce Meal Prep"
headline: "Lettuce Meal Prep"
description: "Samples of art direction and identity design for a fitness meal prep company."
layout: "portfolio_layout"
section: "portfolio"
thumb: "lettuce-meal-prep"
order: 3
agency: "Phase Space"
roles:
  - "art direction"
  - "identity design"
  - "copywriting"
years: "2017"
---

<div class="content-block">
	<h2>Branding meals for serious fitness</h2>
	<figure class="img-right">
		<div class="img-wrapper" style="padding-bottom: 28.5%;">
			<img sizes="(min-width: 30rem) 50vw,
					(min-width: 40.625rem) 18.5625rem,
					calc(100vw - 3.236rem)"
				data-original-set="/images/portfolio/lettuce-meal-prep/old-logo-320.jpg 320w,
					/images/portfolio/lettuce-meal-prep/old-logo-640.jpg 640w,
					/images/portfolio/lettuce-meal-prep/old-logo-960.jpg 960w"
				data-original="/images/portfolio/lettuce-meal-prep/old-logo-320.jpg"
				alt="Previous logo">
		</div>
		<figcaption>
			<p>Previous logo</p>
		</figcaption>
	</figure>
	<p>This Washington D.C.-area meal prep service began trading with a logo that was adequate, but rather staid and generic in tone. <span class="name">Lettuce Meal Prep’s</span> product is high quality, certainly not the cheapest, and marketed mainly to young, affluent professionals and fitness niches such as pageant contestants and bodybuilders. As the business grew in exposure, they realized the need to completely rebrand with a logo and visual system that spoke specifically to these core markets.</p>
	<h3>The brief was guided by the following priorities:</h3>
	<ul>
		<li>All branding would be targeted to young professionals who are both health conscious and visually sophisticated.</li>
		<li>The logo should clearly communicate the idea of meals of gourmet quality with a personal touch. We settled on a bowtie as being representative of this concept without being something that’s overused in culinary logos.</li>
		<li>The logo needed to be extensible to form subbrands for specific markets.</li>
		<li>A crossed knife and fork was to be avoided, because this is both a cliché and it happens to be a major element in the logo of a competitor.</li>
		<li>The aesthetic would be urban and cool, rather than rustic and earthy.</li>
	</ul>
</div>
<div class="content-block">
	<h2>Fresh & fit for purpose</h2>
	<p>The bowtie in the primary logo solution doubles as lettuce leaves, wrapping a fork in crisp presentation. The brand is expressed in an attention-grabbing palette of cool, highly-saturated colors, rich black, and pure white.</p>
	<figure class="img-full">
		<div class="img-wrapper" style="padding-bottom: 100%;">
			<img data-original="/images/portfolio/lettuce-meal-prep/logos.svg" alt="Lettuce Meal Prep logo">
		</div>
		<figcaption>
			<p>Primary logo color variations</p>
		</figcaption>
	</figure>
</div>
<div class="content-block">
	<p>For niche subbranding the accent color is changed, an extra line of text is added, and the bowtie becomes a window for imagery that represents the theme.</p>
	<figure class="img-full">
		<div class="img-wrapper" style="padding-bottom: 33.9%;">
			<img data-original="/images/portfolio/lettuce-meal-prep/subbrand-logos.svg" alt="Lettuce Meal Prep subbrand logos">
		</div>
		<figcaption>
			<p>Proposed subbrand logos</p>
		</figcaption>
	</figure>
</div>
<div class="content-block">
	<h2>Versatility in simplicity</h2>
	<p>The typographical focus of the system simplifies the generation of branded materials. Primary headlines are set large and make heavy use of the swash characters available in the assertive but elegant Eloquent JF Pro. Korolev Military Stencil is available as an alternate headline typeface whenever a tougher tone is required. Subheads set in all-caps Balboa Medium provide a solid, no-nonsense foundation.</p>
</div>
<figure class="img-wide">
	<div class="img-wrapper" style="padding-bottom: 94.8%;">
		<img sizes="(min-width: 30rem) 100vw,
					calc(100vw - 3.236rem)"
				data-original-set="/images/portfolio/lettuce-meal-prep/mockups-320.jpg 320w,
					/images/portfolio/lettuce-meal-prep/mockups-640.jpg 640w,
					/images/portfolio/lettuce-meal-prep/mockups-960.jpg 960w,
					/images/portfolio/lettuce-meal-prep/mockups-1280.jpg 1280w,
					/images/portfolio/lettuce-meal-prep/mockups-1920.jpg 1920w,
					/images/portfolio/lettuce-meal-prep/mockups-2560.jpg 2560w,
					/images/portfolio/lettuce-meal-prep/mockups-3840.jpg 3840w"
				data-original="/images/portfolio/lettuce-meal-prep/mockups-2560.jpg"
				alt="Visual identity application mockups">
	</div>
	<figcaption>
		<p>Mockups of proposed identity system applications</p>
	</figcaption>
</figure>
<div class="content-block">
	<p>The identity toolkit includes a set of minimalist icons and a tiling pattern that represents layers of integrated ingredients.</p>
	<figure class="img-full">
		<div class="img-wrapper" style="padding-bottom: 72.5%;">
			<img data-original="/images/portfolio/lettuce-meal-prep/icons.svg" alt="Icons">
		</div>
		<figcaption>
			<p>Icons</p>
		</figcaption>
	</figure>
	<figure class="img-full">
		<div class="img-wrapper" style="padding-bottom: 42.8%;">
			<img data-original="/images/portfolio/lettuce-meal-prep/pattern.svg" alt="Pattern">
		</div>
		<figcaption>
			<p>Pattern in different color variants</p>
		</figcaption>
	</figure>
</div>
<div class="bg-alt">
	<figure class="img-wide">
		<div class="img-wrapper" style="padding-bottom: 86.2%;">
			<img sizes="(min-width: 30rem) 100vw,
						calc(100vw - 3.236rem)"
					data-original-set="/images/portfolio/lettuce-meal-prep/guidelines-320.jpg 320w,
						/images/portfolio/lettuce-meal-prep/guidelines-640.jpg 640w,
						/images/portfolio/lettuce-meal-prep/guidelines-960.jpg 960w,
						/images/portfolio/lettuce-meal-prep/guidelines-1280.jpg 1280w,
						/images/portfolio/lettuce-meal-prep/guidelines-1920.jpg 1920w,
						/images/portfolio/lettuce-meal-prep/guidelines-2560.jpg 2560w,
						/images/portfolio/lettuce-meal-prep/guidelines-3840.jpg 3840w"
					data-original="/images/portfolio/lettuce-meal-prep/guidelines-2560.jpg"
					alt="Visual identity system guidelines">
		</div>
		<figcaption>
			<p>Visual identity system guidelines</p>
		</figcaption>
	</figure>
</div>
