---
title: "Portfolio - Rosevine Winery"
headline: "Rosevine Winery"
description: "Sample of graphic design work for a wine store."
layout: "portfolio_layout"
section: "portfolio"
thumb: "rosevine-winery"
order: 7
agency: "Schantz Inc."
roles:
  - "art direction"
  - "graphic design"
years: "2007"
---

<div class="content-block">
	<h2>Bringing old-world flavor to South Florida</h2>
	<p>The <span class="name">Delray Beach, FL</span> location of the <span class="name">Rosevine Winery</span> make-your-own-wine franchise commissioned a full set of print materials to be ready for opening day. The only previously-established component was the franchise logo. Under contract by <span class="name">Schantz Inc.,</span> I established a foundation of visual identity components and a collection of marketing and on-site collateral.</p>
	<p>Stucco backgrounds, warm colors, italic script, and bursting collages of grapes and roses speak with a rural-Italian charm that is upbeat and accessible to event, wedding, and corporate markets.</p>
</div>
<div class="bg-alt">
	<div class="content-block">
		<figure class="img-full">
			<div class="img-wrapper" style="padding-bottom: 133.3%;">
				<img sizes="(min-width: 40.625rem) 37.25rem,
						(min-width: 50rem) 46.875rem,
						calc(100vw - 3.236rem)"
					data-original-set="/images/portfolio/rosevine-winery/collateral-320.jpg 320w,
						/images/portfolio/rosevine-winery/collateral-640.jpg 640w,
						/images/portfolio/rosevine-winery/collateral-750.jpg 750w,
						/images/portfolio/rosevine-winery/collateral-1500.jpg 1500w"
					data-original="/images/portfolio/rosevine-winery/collateral-1500.jpg"
					alt="Collateral">
			</div>
			<figcaption>
				<p>Clockwise from top: tri-fold brochure, tasting notes card, business card, flyer</p>
			</figcaption>
		</figure>
	</div>
	<figure class="img-wide">
		<div class="img-wrapper" style="padding-bottom: 52.3%;">
			<img sizes="(min-width: 30rem) 100vw,
						calc(100vw - 3.236rem)"
					data-original-set="/images/portfolio/rosevine-winery/brochure-320.jpg 320w,
						/images/portfolio/rosevine-winery/brochure-640.jpg 640w,
						/images/portfolio/rosevine-winery/brochure-960.jpg 960w,
						/images/portfolio/rosevine-winery/brochure-1280.jpg 1280w,
						/images/portfolio/rosevine-winery/brochure-1920.jpg 1920w,
						/images/portfolio/rosevine-winery/brochure-2560.jpg 2560w,
						/images/portfolio/rosevine-winery/brochure-3840.jpg 3840w"
					data-original="/images/portfolio/rosevine-winery/brochure-2560.jpg"
					alt="Brochure">
		</div>
		<figcaption>
			<p>Tri-fold brochure</p>
		</figcaption>
	</figure>
</div>
