---
title: "Portfolio - TAGS! Pet Care Club"
headline: "TAGS! Pet Care Club"
description: "Samples of web design and development work for pet resort."
layout: "portfolio_layout"
section: "portfolio"
thumb: "tags"
order: 3
agency: "Beyond Indigo"
roles:
  - "web design & development"
years: "2016"
---

<div class="content-block">
	<h2>Premium pet care debuts in Chicago</h2>
	<p>TAGS! Pet Care Club is an upscale pet resort, grooming, and training facility launching in Chicago in Summer 2017. They hired Beyond Indigo Pets to develop a website that would make a splash with pet-loving, urban professionals.</p>
	<h2>First, a bath & a trim for the logo</h2>
	<p>Before the website or any other marketing materials were produced, we had to make sure TAGS!’ logo was ready for prime time. The final deliverable provided by their logo vendor was not bad conceptually, but had serious technical flaws. The files were in RGB color space with no additional color spec, and the rendering was full of inconsistencies and misalignments. I advised the client that addressing these problems immediately would avoid pain down the road, and they heartily agreed.</p>
	<p>After a cleanup of alignments and kerning, beefing up of weak lines for better reproducibility, and specification of spot and process colors, TAGS! had a refined logo that could be rolled out with pride in any media.</p>
	<figure class="img-full">
		<div class="img-wrapper" style="padding-bottom: 68%;">
			<img sizes="(min-width: 40.625rem) 37.25rem,
					(min-width: 50rem) 46.875rem,
					calc(100vw - 3.236rem)"
				data-original-set="/images/portfolio/tags/logo-comparison-320.gif 320w,
					/images/portfolio/tags/logo-comparison-640.gif 640w,
					/images/portfolio/tags/logo-comparison-750.gif 750w,
					/images/portfolio/tags/logo-comparison-1500.gif 1500w"
				data-original="/images/portfolio/tags/logo-comparison-1500.gif"
				alt="Logo before and after comparison">
		</div>
		<figcaption>
			<p>Logo before and after adjustments</p>
		</figcaption>
	</figure>
</div>
<div class="content-block">
	<h2>Playful & professional</h2>
	<p>The resort’s website is bright and breezy, with dynamic stock photography, clear navigation, and large, touchscreen-friendly callouts.</p>
	<p>
		<% link_to 'http://mark-clifton.com/samples/tags/', :class => 'button' do %>
			<%= partial '/partials/icons/website' %>
			Home page preview
		<% end %>
		<% link_to 'http://mark-clifton.com/samples/tags/inside.html', :class => 'button' do %>
			<%= partial '/partials/icons/website' %>
			Interior page preview
		<% end %>
		<% link_to 'https://github.com/mark-clifton/Portfolio-sample---Tags', :class => 'button' do %>
			<%= partial '/partials/icons/code' %>
			Code sample
		<% end %>
	</p>
</div>
<div class="bg-alt">
	<figure class="img-wide">
		<div class="img-wrapper" style="padding-bottom: 39%;">
			<img sizes="(min-width: 30rem) 100vw,
						calc(100vw - 3.236rem)"
					data-original-set="/images/portfolio/tags/site-320.jpg 320w,
						/images/portfolio/tags/site-640.jpg 640w,
						/images/portfolio/tags/site-960.jpg 960w,
						/images/portfolio/tags/site-1280.jpg 1280w,
						/images/portfolio/tags/site-1920.jpg 1920w,
						/images/portfolio/tags/site-2560.jpg 2560w,
						/images/portfolio/tags/site-3840.jpg 3840w"
					data-original="/images/portfolio/tags/site-2560.jpg"
					alt="Responsive home page">
		</div>
		<figcaption>
			<p>Responsive home page</p>
		</figcaption>
	</figure>
	<div class="content-block">
		<figure class="img-full">
			<div class="img-wrapper" style="padding-bottom: 160.2%;">
				<img sizes="(min-width: 40.625rem) 37.25rem,
						(min-width: 50rem) 46.875rem,
						calc(100vw - 3.236rem)"
					data-original-set="/images/portfolio/tags/site-full-320.jpg 320w,
						/images/portfolio/tags/site-full-640.jpg 640w,
						/images/portfolio/tags/site-full-750.jpg 750w,
						/images/portfolio/tags/site-full-1500.jpg 1500w"
					data-original="/images/portfolio/tags/site-full-1500.jpg"
					alt="Full home page">
			</div>
			<figcaption>
				<p>Full home page at desktop width</p>
			</figcaption>
		</figure>
	</div>
</div>
