---
title: "Portfolio - The Lawrence"
headline: "The Lawrence"
description: "Samples of web design & development, and graphic design work for a restaurant in Atlanta."
layout: "portfolio_layout"
section: "portfolio"
thumb: "the-lawrence"
order: 5
agency: "Phase Space"
roles:
  - "web design & development"
  - "graphic design"
years: "2011–2013"
---

<div class="content-block">
	<h2>A restaurant opens with strong fundamentals</h2>
	<p>When <span class="name">The Lawrence</span> hit the Atlanta dining scene, they were in need of a flexible visual identity toolkit that would serve basic needs, and grow with the business.</p>
	<p>Starting with the already-established logo and primary brand color, I provided a system of consistent typography and secondary visual elements. The visual identity is light and subtle, placing emphasis on content first. To pay tribute to their address on Juniper Street, juniper berries were used as a prominent motif in the restaurant’s decor and visual branding.</p>
</div>
<div class="bg-alt">
	<div class="content-block">
		<figure class="img-full">
			<div class="img-wrapper" style="padding-bottom: 66.7%;">
				<img sizes="(min-width: 40.625rem) 37.25rem,
						(min-width: 50rem) 46.875rem,
						calc(100vw - 3.236rem)"
					data-original-set="/images/portfolio/the-lawrence/cards-320.jpg 320w,
						/images/portfolio/the-lawrence/cards-640.jpg 640w,
						/images/portfolio/the-lawrence/cards-750.jpg 750w,
						/images/portfolio/the-lawrence/cards-1500.jpg 1500w"
					data-original="/images/portfolio/the-lawrence/cards-1500.jpg"
					alt="Collateral">
			</div>
			<figcaption>
				<p>In-house collateral established the basis of the identity</p>
			</figcaption>
		</figure>
	</div>
</div>
<div class="content-block">
	<figure class="img-full">
		<div class="img-wrapper" style="padding-bottom: 105.3%;">
			<img sizes="(min-width: 40.625rem) 37.25rem,
					(min-width: 50rem) 46.875rem,
					calc(100vw - 3.236rem)"
				data-original-set="/images/portfolio/the-lawrence/flyers-320.jpg 320w,
					/images/portfolio/the-lawrence/flyers-640.jpg 640w,
					/images/portfolio/the-lawrence/flyers-750.jpg 750w,
					/images/portfolio/the-lawrence/flyers-1500.jpg 1500w"
				data-original="/images/portfolio/the-lawrence/flyers-1500.jpg"
				alt="Special event flyers">
		</div>
		<figcaption>
			<p>Marketing for special events presented an opportunity for stylistic variety</p>
		</figcaption>
	</figure>
</div>
<div class="bg-alt">
	<figure class="img-wide">
		<div class="img-wrapper" style="padding-bottom: 39%;">
			<img sizes="(min-width: 30rem) 100vw,
						calc(100vw - 3.236rem)"
					data-original-set="/images/portfolio/the-lawrence/site-320.jpg 320w,
						/images/portfolio/the-lawrence/site-640.jpg 640w,
						/images/portfolio/the-lawrence/site-960.jpg 960w,
						/images/portfolio/the-lawrence/site-1280.jpg 1280w,
						/images/portfolio/the-lawrence/site-1920.jpg 1920w,
						/images/portfolio/the-lawrence/site-2560.jpg 2560w,
						/images/portfolio/the-lawrence/site-3840.jpg 3840w"
					data-original="/images/portfolio/the-lawrence/site-2560.jpg"
					alt="Responsive website">
		</div>
		<figcaption>
			<p>The business website reflected a philosophy of simplicity</p>
		</figcaption>
	</figure>
</div>
