---
title: "Portfolio - Tropical Floors & Doors"
headline: "Tropical Floors & Doors"
description: "Sample of brochure graphic design for a wood floor and door manufacturer."
layout: "portfolio_layout"
section: "portfolio"
thumb: "tropical-floors-and-doors"
order: 9
agency: "Schantz Inc."
roles:
  - "graphic design"
years: "2005"
---

<div class="content-block">
	<h2>From simple materials to something special</h2>
	<p>The <span class="name">Tropical Floors & Doors</span> brochure I developed under contract by <span class="name">Schantz Inc.</span> is a small but interesting case study in transforming low-quality assets into a refined final product. The company needed to appeal to an affluent market for its made-to-order, hardwood flooring and doors, but had limited raw materials to start with. The only source available for the logo was a scanned line drawing, and product photos were mostly digital snapshots.</p>
	<p>The logo was redrawn with added color, and the door images clipped and retouched to create visually-appealing collages with subtle touches such as transparency in the window glass. A richly-colored background with palm fan motif enveloped the content with warmth and contrast, creating a luxury experience where you can practically smell the freshly-cut wood.</p>
</div>
<div class="bg-alt">
	<figure class="img-wide">
		<div class="img-wrapper" style="padding-bottom: 99.1%;">
			<img sizes="(min-width: 30rem) 100vw,
						calc(100vw - 3.236rem)"
					data-original-set="/images/portfolio/tropical-floors-and-doors/brochure-320.jpg 320w,
						/images/portfolio/tropical-floors-and-doors/brochure-640.jpg 640w,
						/images/portfolio/tropical-floors-and-doors/brochure-960.jpg 960w,
						/images/portfolio/tropical-floors-and-doors/brochure-1280.jpg 1280w,
						/images/portfolio/tropical-floors-and-doors/brochure-1920.jpg 1920w,
						/images/portfolio/tropical-floors-and-doors/brochure-2560.jpg 2560w,
						/images/portfolio/tropical-floors-and-doors/brochure-3840.jpg 3840w"
					data-original="/images/portfolio/tropical-floors-and-doors/brochure-2560.jpg"
					alt="Brochure">
		</div>
		<figcaption>
			<p>Tri-fold brochure</p>
		</figcaption>
	</figure>
</div>
