---
title: "Portfolio - VIN Angel"
headline: "VIN Angel"
description: "Samples of identity, mobile app, and web design work."
layout: "portfolio_layout"
section: "portfolio"
thumb: "vin-angel"
order: 4
agency: "Phase Space"
roles:
  - "identity design"
  - "web design & development"
  - "mobile app design & development"
years: "2013–2014"
---

<div class="content-block">
	<h2>Moving transport to mobile</h2>
	<p><span class="name">VIN Angel</span> was developed to streamline and increase the accuracy of the paperwork involved in vehicle transport. The app allowed drivers of car carrier trucks to quickly populate bills of lading with vehicle information by scanning VIN barcodes with their mobile device’s camera. App functionality also included saved locations and contacts, a searchable directory of contractors for hire, and automatic generation of an invoice from bill of lading data. In addition to iOS and Android apps developed with the Titanium SDK, a web app built on the CodeIgniter PHP framework brought functionality to the desktop.</p>
	<figure class="img-full">
		<div class="img-wrapper" style="padding-bottom: 22%;">
			<img data-original="/images/portfolio/vin-angel/logos.svg" alt="Logos">
		</div>
		<figcaption>
			<p>Positive and reversed logos</p>
		</figcaption>
	</figure>
	<p>The app was branded with a palette of cool, industrial grays, geometric type, and a logo that introduces a sense of humor by evoking the iconic “mud flap girl”.</p>
</div>
<div class="bg-alt">
	<div class="content-block">
		<figure class="img-full">
			<div class="img-wrapper" style="padding-bottom: 62%;">
				<img sizes="(min-width: 40.625rem) 37.25rem,
						(min-width: 50rem) 46.875rem,
						calc(100vw - 3.236rem)"
					data-original-set="/images/portfolio/vin-angel/web-320.jpg 320w,
						/images/portfolio/vin-angel/web-640.jpg 640w,
						/images/portfolio/vin-angel/web-750.jpg 750w,
						/images/portfolio/vin-angel/web-1500.jpg 1500w"
					data-original="/images/portfolio/vin-angel/web-1500.jpg"
					alt="Web app">
			</div>
			<figcaption>
				<p>Web app</p>
			</figcaption>
		</figure>
	</div>
</div>
<div class="bg-alt">
	<figure class="img-wide">
		<div class="img-wrapper" style="padding-bottom: 119%;">
			<img sizes="(min-width: 30rem) 100vw,
						calc(100vw - 3.236rem)"
					data-original-set="/images/portfolio/vin-angel/mobile-320.jpg 320w,
						/images/portfolio/vin-angel/mobile-640.jpg 640w,
						/images/portfolio/vin-angel/mobile-960.jpg 960w,
						/images/portfolio/vin-angel/mobile-1280.jpg 1280w,
						/images/portfolio/vin-angel/mobile-1920.jpg 1920w,
						/images/portfolio/vin-angel/mobile-2560.jpg 2560w,
						/images/portfolio/vin-angel/mobile-3840.jpg 3840w"
					data-original="/images/portfolio/vin-angel/mobile-2560.jpg"
					alt="iPhone app">
		</div>
		<figcaption>
			<p>iPhone app screens</p>
		</figcaption>
	</figure>
</div>
