---
title: "Portfolio - Wako Diagnostics"
headline: "Wako Diagnostics"
description: "Samples of art direction, identity design, graphic design, and photography work for a medical diagnostic chemical manufacturer."
layout: "portfolio_layout"
section: "portfolio"
thumb: "wako-diagnostics"
order: 8
agency: "RDC Integrated Marketing"
roles:
  - "art direction"
  - "identity design"
  - "graphic design"
  - "photography"
years: "2002–2003"
---

<div class="content-block">
	<h2>Continuing an industrial & scientific legacy</h2>
	<figure class="img-right">
		<div class="img-wrapper" style="padding-bottom: 44.7%;">
			<img sizes="(min-width: 30rem) 50vw,
					(min-width: 40.625rem) 18.5625rem,
					calc(100vw - 3.236rem)"
				data-original-set="/images/portfolio/wako-diagnostics/libasys-logo-320.png 320w,
					/images/portfolio/wako-diagnostics/libasys-logo-640.png 640w,
					/images/portfolio/wako-diagnostics/libasys-logo-960.png 960w"
				data-original="/images/portfolio/wako-diagnostics/libasys-logo-320.png"
				alt="LiBASys logo">
		</div>
		<figcaption>
			<p>A curved element represents a graph of test results in the logo for the LiBASys diagnostic instrument</p>
		</figcaption>
	</figure>
	<p>In the process of growth, <span class="name">Wako Diagnostics</span> sought to establish a house brand differentiated from that of their corporate parent, <span class="name">Wako Chemicals USA, Inc.,</span> itself a subsidiary of <span class="name">Wako Pure Chemical Industries, Ltd.,</span> in Japan. As a manufacturer of laboratory reagents, <span class="name">Wako Diagnostics</span> needed its brand to convey reliability and a process of continuous innovation building on its Japanese parent’s rich, 80-year legacy.</p>
	<p>While Art Director at RDC Integrated Marketing, I implemented two prongs of <span class="name">Wako Diagnostics’</span> visual branding: corporate identity materials, and corporate and product-centered integrated marketing campaigns. All visual materials were unified by the primary brand color, and the type families <span class="name">FF Scala Sans</span> and <span class="name">FF Scala Serif,</span> chosen for their academic voice and contemporary, rationalist construction.</p>
	<p>In addition to creative ideation and design execution, I had the opportunity to conceptualize and shoot original photography for all deliverables produced.</p>
</div>
<div class="bg-alt">
	<figure class="img-wide">
		<div class="img-wrapper" style="padding-bottom: 76.3%;">
			<img sizes="(min-width: 30rem) 100vw,
						calc(100vw - 3.236rem)"
					data-original-set="/images/portfolio/wako-diagnostics/booklet-320.jpg 320w,
						/images/portfolio/wako-diagnostics/booklet-640.jpg 640w,
						/images/portfolio/wako-diagnostics/booklet-960.jpg 960w,
						/images/portfolio/wako-diagnostics/booklet-1280.jpg 1280w,
						/images/portfolio/wako-diagnostics/booklet-1920.jpg 1920w,
						/images/portfolio/wako-diagnostics/booklet-2560.jpg 2560w,
						/images/portfolio/wako-diagnostics/booklet-3840.jpg 3840w"
					data-original="/images/portfolio/wako-diagnostics/booklet-2560.jpg"
					alt="Corporate brochure">
		</div>
		<figcaption>
			<p>Cover and spreads from a saddle-stitched corporate brochure. “Molecule” diagrams are composed of the interconnected names of company divisions, products, and services.</p>
		</figcaption>
	</figure>
	<div class="content-block">
		<figure class="img-full">
			<div class="img-wrapper" style="padding-bottom: 133.3%;">
				<img sizes="(min-width: 40.625rem) 37.25rem,
						(min-width: 50rem) 46.875rem,
						calc(100vw - 3.236rem)"
					data-original-set="/images/portfolio/wako-diagnostics/mailer-320.jpg 320w,
						/images/portfolio/wako-diagnostics/mailer-640.jpg 640w,
						/images/portfolio/wako-diagnostics/mailer-750.jpg 750w,
						/images/portfolio/wako-diagnostics/mailer-1500.jpg 1500w"
					data-original="/images/portfolio/wako-diagnostics/mailer-1500.jpg"
					alt="Mailer">
			</div>
			<figcaption>
				<p>Trade show mailer with perforated survey card</p>
			</figcaption>
		</figure>
		<figure class="img-full">
			<div class="img-wrapper" style="padding-bottom: 128.7%;">
				<img sizes="(min-width: 40.625rem) 37.25rem,
						(min-width: 50rem) 46.875rem,
						calc(100vw - 3.236rem)"
					data-original-set="/images/portfolio/wako-diagnostics/brochure-320.jpg 320w,
						/images/portfolio/wako-diagnostics/brochure-640.jpg 640w,
						/images/portfolio/wako-diagnostics/brochure-750.jpg 750w,
						/images/portfolio/wako-diagnostics/brochure-1500.jpg 1500w"
					data-original="/images/portfolio/wako-diagnostics/brochure-1500.jpg"
					alt="Product brochure">
			</div>
			<figcaption>
				<p>Four-panel, roll-fold product brochure with perforated, self-mailing response card</p>
			</figcaption>
		</figure>
		<figure class="img-full">
			<div class="img-wrapper" style="padding-bottom: 111.1%;">
				<img sizes="(min-width: 40.625rem) 37.25rem,
						(min-width: 50rem) 46.875rem,
						calc(100vw - 3.236rem)"
					data-original-set="/images/portfolio/wako-diagnostics/ads-320.jpg 320w,
						/images/portfolio/wako-diagnostics/ads-640.jpg 640w,
						/images/portfolio/wako-diagnostics/ads-750.jpg 750w,
						/images/portfolio/wako-diagnostics/ads-1500.jpg 1500w"
					data-original="/images/portfolio/wako-diagnostics/ads-1500.jpg"
					alt="Print ads">
			</div>
			<figcaption>
				<p>Print ads</p>
			</figcaption>
		</figure>
		<figure class="img-full">
			<div class="img-wrapper" style="padding-bottom: 71%;">
				<img sizes="(min-width: 40.625rem) 37.25rem,
						(min-width: 50rem) 46.875rem,
						calc(100vw - 3.236rem)"
					data-original-set="/images/portfolio/wako-diagnostics/stationery-320.jpg 320w,
						/images/portfolio/wako-diagnostics/stationery-640.jpg 640w,
						/images/portfolio/wako-diagnostics/stationery-750.jpg 750w,
						/images/portfolio/wako-diagnostics/stationery-1500.jpg 1500w"
					data-original="/images/portfolio/wako-diagnostics/stationery-1500.jpg"
					alt="Stationery">
			</div>
			<figcaption>
				<p>Corporate stationery</p>
			</figcaption>
		</figure>
		<figure class="img-full">
			<div class="img-wrapper" style="padding-bottom: 71%;">
				<img sizes="(min-width: 40.625rem) 37.25rem,
						(min-width: 50rem) 46.875rem,
						calc(100vw - 3.236rem)"
					data-original-set="/images/portfolio/wako-diagnostics/invite-320.jpg 320w,
						/images/portfolio/wako-diagnostics/invite-640.jpg 640w,
						/images/portfolio/wako-diagnostics/invite-750.jpg 750w,
						/images/portfolio/wako-diagnostics/invite-1500.jpg 1500w"
					data-original="/images/portfolio/wako-diagnostics/invite-1500.jpg"
					alt="Invite">
			</div>
			<figcaption>
				<p>Mailer inviting dignitaries to the opening of a new production facility, personalized with commissioned calligraphy. Embossing and duplexed, columned paper deliver a fine, tactile finish.</p>
			</figcaption>
		</figure>
	</div>
</div>
