---
title: "Legal"
headline: "Legal"
description: "Copyright and license for the Mark Clifton portfolio website."
section: "legal"
---

<div class="content-block">
	<h2>Website design & source code</h2>
	<p>Website design and original source code © <%= DateTime.now.strftime('%Y') %> Mark Clifton. All rights reserved.</p>
	<hr>
	<h2>Third-party code</h2>
	<p>Third-party code is used under license and may only be reproduced in accordance to its license terms.</p>
	<hr>
	<h2>Portfolio samples</h2>
	<p>Portfolio design and code samples © their respective owners. Do not reproduce without permission.</p>
	<p>Portfolio samples are presented as non-commercial, personal work samples. I believe this to be ‘fair use’ in accordance with Title 17 U.S.C. Section 107 of US Copyright Law.</p>
</div>
