---
title: "Résumé"
headline: "Résumé"
description: "Art direction, graphic design, interactive design, and front-end development résumé for Mark Clifton."
section: "resume"
---

<div class="content-block">
	<p>
		<% link_to '/files/Mark-Clifton-resume.pdf', :class => 'button' do %>
			<%= partial '/partials/icons/document' %>
			PDF résumé
		<% end %>
	</p>
	<h2>Experience</h2>
	<h3>Owner</h3>
	<ul class="position-details">
		<li class="position-company">Freelance Practice</li>
		<li>Atlanta, GA</li>
		<li>7/04–Present</li>
	</ul>
	<ul>
		<li>Freelance design and web development practice</li>
	</ul>
	<h3>Senior Web Designer</h3>
	<ul class="position-details">
		<li class="position-company">Emory University</li>
		<li>Atlanta, GA</li>
		<li>11/17–Present</li>
	</ul>
	<ul>
		<li>Establish and maintain university-wide web brand standards and design systems</li>
		<li>Coordinate with schools, divisions, and external vendors in execution of enterprise-level web projects</li>
	</ul>
	<h3>Creative Director</h3>
	<ul class="position-details">
		<li class="position-company">Beyond Indigo</li>
		<li>Remote</li>
		<li>10/14–10/16</li>
	</ul>
	<ul>
		<li>Part of a team of Directors guiding strategy, internal structure, and budgeting</li>
		<li>Led a team of staff and contract designers, developers, and quality assurance specialists</li>
		<li>Directed and designed all company branding and marketing</li>
		<li>Maintained standards documentation and produced client education materials</li>
	</ul>
	<h3>Art Director</h3>
	<ul class="position-details">
		<li class="position-company">Beyond Indigo</li>
		<li>Contract remote</li>
		<li>5/04–10/14</li>
	</ul>
	<ul>
		<li>Designed and developed websites for veterinary, equine, and funeral sectors</li>
		<li>Oversaw design of in-house marketing</li>
		<li>Defined company standards for design and front-end code</li>
	</ul>
	<h3>Art Director</h3>
	<ul class="position-details">
		<li class="position-company">Richmond.com / RDC Integrated Marketing</li>
		<li>Richmond, VA</li>
		<li>5/98–11/03</li>
	</ul>
	<ul>
		<li>Led the team responsible for design and front-end development of a large, local news and city guide website</li>
		<li>Designed in-house marketing, in addition to online advertising for clients</li>
		<li>Generated original editorial artwork, including illustration and photography</li>
		<li>Directed a pool of freelance photographers and illustrators</li>
		<li>Coordinated editorial population from partner resources</li>
		<li>Art directed and designed integrated marketing campaigns for agency division</li>
	</ul>
	<h3>Web Designer</h3>
	<ul class="position-details">
		<li class="position-company">Style Weekly</li>
		<li>Richmond, VA</li>
		<li>5/97–5/98</li>
	</ul>
	<ul>
		<li>Designed, developed, and maintained the online presence of an influential, free weekly magazine and its sibling publications</li>
		<li>Populated websites with editorial content from the print editions</li>
		<li>Designed in-house and client advertising</li>
	</ul>
	<h3>Graphic Designer</h3>
	<ul class="position-details">
		<li class="position-company">Virginia Commonwealth University</li>
		<li>Richmond, VA</li>
		<li>’96–’98</li>
	</ul>
	<ul>
		<li>Designed communications for the Department of Student Affairs</li>
	</ul>
	<h3>Web Administrator</h3>
	<ul class="position-details">
		<li class="position-company">Capitol Technigraphics</li>
		<li>Springfield, VA</li>
		<li>’95–’96</li>
	</ul>
	<ul>
		<li>Designed and developed print and online marketing materials</li>
	</ul>
	<h3>Layout Designer</h3>
	<ul class="position-details">
		<li class="position-company">Occoquan Photo</li>
		<li>Occoquan, VA</li>
		<li>’95</li>
	</ul>
	<ul>
		<li>Performed digital layout of classified ad publications</li>
	</ul>
	<h2>Education</h2>
	<h3>Virginia Commonwealth University</h3>
	<ul class="education-details">
		<li>BFA, Communication Arts + Design</li>
		<li>’95–’99</li>
		<li><em>Cum laude</em></li>
	</ul>
	<h2>Recognition</h2>
	<ul class="recognition-details">
		<li>Typeface designs featured in:
			<ul>
				<li><em>IndieFonts: A Compendium of Digital Type from Independent Foundries</em><br>
					by Richard Kegler, James Grieshaber, and Tamye Riggs<br>
					(P-Type Publications, 2002)</li>
				<li><em>Typology: Type Design from the Victorian Era to the Digital Age</em><br>
					by Steven Heller and Louise Fili<br>
					(Chronicle Books, 1999)</li>
			</ul>
		</li>
	</ul>
</div>
